.title {
  margin-left: 20px;
}
.link {
  text-decoration: none;
}
.link:visited {
  color: rgb(39, 39, 56);
}
.link:hover,
.link:focus {
  color: rgb(92, 178, 178);
}

.listItems {
  font-size: 18px;
  line-height: 1.3;
  color: black;
}
.listItems::marker {
  color: rgb(92, 178, 178);
}
